body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px blue;
    width: 300px;
    text-align: center;
}

img {
    width: 100px;
    margin-bottom: 20px;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: coral;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    padding: 20px 0;
    z-index: 10;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    align-content: center;
    
}



